## 12.1 datetime 오브젝트

In [1]:
from datetime import datetime

In [3]:
# now, today 메서드로 현재 시간 출력

now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2021-10-03 09:12:59.684791
2021-10-03 09:12:59.685788

In [4]:
# 시간 직접 입력해 datetime 오브젝트 생성

t1 = datetime.now()
t2 = datetime(1970,1,1)
t3 = datetime(1970,12,12,13,24,34)

print(t1); print(t2); print(t3)

2021-10-03 09:14:26.269634
1970-01-01 00:00:00
1970-12-12 13:24:34

In [5]:
# datetime 오브젝트로 시간 계산

diff1 = t1-t2
print(diff1); print(type(diff1))

diff2 = t2-t1
print(diff2); print(type(diff2))

18903 days, 9:14:26.269634
<class 'datetime.timedelta'>
-18904 days, 14:45:33.730366
<class 'datetime.timedelta'>

### 테슬라 주식 데이터로 시간 계산

In [2]:
import pandas as pd
import numpy as np
import os
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

In [17]:
tesla = pdr.get_data_quandl('TSLA', api_key='-D8dmLPELU3dwSsfaXRz')
tesla.to_csv('C:/Temp/tesla_stock_quandl.csv')

In [20]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [3]:
tesla = pd.read_csv('C:/Temp/tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        371 non-null    datetime64[ns]
 1   Open        371 non-null    float64
 2   High        371 non-null    float64
 3   Low         371 non-null    float64
 4   Close       371 non-null    float64
 5   Volume      371 non-null    float64
 6   ExDividend  371 non-null    float64
 7   SplitRatio  371 non-null    float64
 8   AdjOpen     371 non-null    float64
 9   AdjHigh     371 non-null    float64
 10  AdjLow      371 non-null    float64
 11  AdjClose    371 non-null    float64
 12  AdjVolume   371 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 37.8 KB
None

In [4]:
print(tesla.loc[(tesla.Date.dt.year == 2016) & (tesla.Date.dt.month == 10)]) 
# 받은 tesla 자료가 2016년 10월부터의 데이터밖에 없음. 
# 책에는 2010년 6월의 데이터를 추출한 것이었지만 부득이하게 2016년 10월의 데이터를 추출함.

          Date    Open      High     Low   Close      Volume  ExDividend  \
351 2016-10-31  202.49  202.4900  195.81  197.73   4692273.0         0.0
352 2016-10-28  204.00  205.3200  199.83  199.97   4280141.0         0.0
353 2016-10-27  211.34  213.7000  201.65  204.01  13093744.0         0.0
354 2016-10-26  201.00  203.1900  200.10  202.24   5632841.0         0.0
355 2016-10-25  202.90  204.6900  201.20  202.34   2445014.0         0.0
356 2016-10-24  201.00  203.9452  200.25  202.76   2751562.0         0.0
357 2016-10-21  198.60  201.5700  197.41  200.09   2943402.0         0.0
358 2016-10-20  202.12  203.0000  197.05  199.10   5072877.0         0.0
359 2016-10-19  199.74  206.6600  198.06  203.56   6991183.0         0.0
360 2016-10-18  195.99  199.4700  193.26  199.10   5680475.0         0.0
361 2016-10-17  197.05  198.3900  192.00  193.96   4554080.0         0.0
362 2016-10-14  200.66  201.4300  196.30  196.51   4269850.0         0.0
363 2016-10-13  200.50  200.8950  197.05  200.24   2495413.0         0.0
364 2016-10-12  200.95  203.8800  200.42  201.51   1970689.0         0.0
365 2016-10-11  201.85  202.2000  198.31  200.10   2328422.0         0.0
366 2016-10-10  201.35  204.1400  199.66  200.95   3316297.0         0.0
367 2016-10-07  201.00  201.3200  195.80  196.61   3493018.0         0.0
368 2016-10-06  202.46  204.2099  200.21  201.00   4703402.0         0.0
369 2016-10-05  212.24  213.1500  208.12  208.46   1877534.0         0.0
370 2016-10-04  213.10  213.3200  208.82  211.41   3541481.0         0.0

     SplitRatio  AdjOpen   AdjHigh  AdjLow  AdjClose   AdjVolume
351         1.0   202.49  202.4900  195.81    197.73   4692273.0
352         1.0   204.00  205.3200  199.83    199.97   4280141.0
353         1.0   211.34  213.7000  201.65    204.01  13093744.0
354         1.0   201.00  203.1900  200.10    202.24   5632841.0
355         1.0   202.90  204.6900  201.20    202.34   2445014.0
356         1.0   201.00  203.9452  200.25    202.76   2751562.0
357         1.0   198.60  201.5700  197.41    200.09   2943402.0
358         1.0   202.12  203.0000  197.05    199.10   5072877.0
359         1.0   199.74  206.6600  198.06    203.56   6991183.0
360         1.0   195.99  199.4700  193.26    199.10   5680475.0
361         1.0   197.05  198.3900  192.00    193.96   4554080.0
362         1.0   200.66  201.4300  196.30    196.51   4269850.0
363         1.0   200.50  200.8950  197.05    200.24   2495413.0
364         1.0   200.95  203.8800  200.42    201.51   1970689.0
365         1.0   201.85  202.2000  198.31    200.10   2328422.0
366         1.0   201.35  204.1400  199.66    200.95   3316297.0
367         1.0   201.00  201.3200  195.80    196.61   3493018.0
368         1.0   202.46  204.2099  200.21    201.00   4703402.0
369         1.0   212.24  213.1500  208.12    208.46   1877534.0
370         1.0   213.10  213.3200  208.82    211.41   3541481.0

### DatatimeIndex

In [5]:
# Date 열을 인덱스로 지정

tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2016-10-17', '2016-10-14', '2016-10-13', '2016-10-12',
               '2016-10-11', '2016-10-10', '2016-10-07', '2016-10-06',
               '2016-10-05', '2016-10-04'],
              dtype='datetime64[ns]', name='Date', length=371, freq=None)

In [9]:
print(tesla.loc['2016'].iloc[:5,:5])

                 Date    Open    High       Low   Close
Date
2016-12-30 2016-12-30  216.30  217.50  211.6800  213.69
2016-12-29 2016-12-29  218.56  219.20  214.1225  214.68
2016-12-28 2016-12-28  221.53  223.80  217.2000  219.74
2016-12-27 2016-12-27  214.88  222.25  214.4200  219.53
2016-12-23 2016-12-23  208.00  213.45  207.7100  213.34

In [11]:
print(tesla.loc['2016-10'].iloc[:,:5])

                 Date    Open      High     Low   Close
Date
2016-10-31 2016-10-31  202.49  202.4900  195.81  197.73
2016-10-28 2016-10-28  204.00  205.3200  199.83  199.97
2016-10-27 2016-10-27  211.34  213.7000  201.65  204.01
2016-10-26 2016-10-26  201.00  203.1900  200.10  202.24
2016-10-25 2016-10-25  202.90  204.6900  201.20  202.34
2016-10-24 2016-10-24  201.00  203.9452  200.25  202.76
2016-10-21 2016-10-21  198.60  201.5700  197.41  200.09
2016-10-20 2016-10-20  202.12  203.0000  197.05  199.10
2016-10-19 2016-10-19  199.74  206.6600  198.06  203.56
2016-10-18 2016-10-18  195.99  199.4700  193.26  199.10
2016-10-17 2016-10-17  197.05  198.3900  192.00  193.96
2016-10-14 2016-10-14  200.66  201.4300  196.30  196.51
2016-10-13 2016-10-13  200.50  200.8950  197.05  200.24
2016-10-12 2016-10-12  200.95  203.8800  200.42  201.51
2016-10-11 2016-10-11  201.85  202.2000  198.31  200.10
2016-10-10 2016-10-10  201.35  204.1400  199.66  200.95
2016-10-07 2016-10-07  201.00  201.3200  195.80  196.61
2016-10-06 2016-10-06  202.46  204.2099  200.21  201.00
2016-10-05 2016-10-05  212.24  213.1500  208.12  208.46
2016-10-04 2016-10-04  213.10  213.3200  208.82  211.41

### 시간 간격과 인덱스 - TimedeltaIndex

In [51]:
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 539 days
2018-03-26 538 days
2018-03-23 535 days
2018-03-22 534 days
2018-03-21 533 days

In [52]:
tesla.index = tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
539 days 2018-03-27  304.00  304.27  277.18  279.18
538 days 2018-03-26  307.34  307.59  291.36  304.18
535 days 2018-03-23  311.25  311.61  300.45  301.54
534 days 2018-03-22  313.89  318.82  308.18  309.10
533 days 2018-03-21  310.25  322.44  310.19  316.53

In [53]:
print(tesla['5 days':].iloc[:5,:5])

               Date    Open      High     Low   Close
ref_date
3 days   2016-10-07  201.00  201.3200  195.80  196.61
2 days   2016-10-06  202.46  204.2099  200.21  201.00
1 days   2016-10-05  212.24  213.1500  208.12  208.46
0 days   2016-10-04  213.10  213.3200  208.82  211.41

### 시간 범위와 인덱스 - 시간 범위 생성해 인덱스로 지정하기

In [61]:
import pandas as pd
import os
ebola = pd.read_csv('https://raw.githubusercontent.com/easysIT/doit_pandas/master/data/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5,:5]) # 2015-01-01 데이터가 누락됨
print(ebola.iloc[-5:,:5]) # 2014-03-23 데이터가 누락됨

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0
          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [62]:
head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [63]:
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

In [65]:
# 평일만 포함시킨 DatatimeIndex
print(pd.date_range('2017-01-01', '2017-01-07', freq='B'))

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06'],
              dtype='datetime64[ns]', freq='B')